/*///////////////////
[ Reverb Gradient CSS ] /
*v0.1.2
*By Gorig Chelsin: https://github.com/cgustav 
*https://uigradients.com/
*https://webgradients.com/
/////////////////////*/

/*peach*/

.peach-gradient {
    /* fallback for old browsers */
    background: #fc6262;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ffd86f, #fc6262);
    /*Opera Mini / Presto 2.8 */
    background: -o-linear-gradient(to right, #ffd86f, #fc6262);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ffd86f, #fc6262);
}

.peach-gradient-inverse {
    background: #ffd86f;
    background: -webkit-linear-gradient(to left, #ffd86f, #fc6262);
    background: -o-linear-gradient(to left, #ffd86f, #fc6262);
    background: linear-gradient(to left, #ffd86f, #fc6262);
}

.peach-gradient-top {
    background: #fc6262;
    background: -webkit-linear-gradient(to bottom, #ffd86f, #fc6262);
    background: -o-linear-gradient(to bottom, #ffd86f, #fc6262);
    background: linear-gradient(to bottom, #ffd86f, #fc6262);
}

.peach-gradient-bot,
.peach-gradient-bottom {
    background: #ffd86f;
    background: -webkit-linear-gradient(to top, #ffd86f, #fc6262);
    background: -o-linear-gradient(to top, #ffd86f, #fc6262);
    background: linear-gradient(to top, #ffd86f, #fc6262);
}

/*sunny*/

.sunny-gradient {
    background: #f6d365;
    background-image: -webkit-linear-gradient(to right, #f6d365 0%, #fda085 100%);
    background-image: -o-linear-gradient(to right, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

.sunny-gradient-inverse {
    background: #fda085;
    background-image: -webkit-linear-gradient(to left, #f6d365 0%, #fda085 100%);
    background-image: -o-linear-gradient(to left, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(to left, #f6d365 0%, #fda085 100%);
}

.sunny-gradient-top {
    background: #f6d365;
    background-image: -webkit-linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
    background-image: -o-linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
}

.sunny-gradient-bot,
.sunny-gradient-bottom {
    background: #fda085;
    background-image: -webkit-linear-gradient(to top, #f6d365 0%, #fda085 100%);
    background-image: -o-linear-gradient(to top, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(to top, #f6d365 0%, #fda085 100%);
}

/*sunset*/

.sunset-gradient {
    background: #fa709a;
    background-image: -webkit-linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-image: -o-linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.sunset-gradient-inverse {
    background: #fee140;
    background-image: -webkit-linear-gradient(to left, #fa709a 0%, #fee140 100%);
    background-image: -o-linear-gradient(to left, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to left, #fa709a 0%, #fee140 100%);
}

.sunset-gradient-top {
    background: #fa709a;
    background-image: -webkit-linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
    background-image: -o-linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
}

.sunset-gradient-bot,
.sunset-gradient-bottom {
    background: #fee140;
    background-image: -webkit-linear-gradient(to top, #fa709a 0%, #fee140 100%);
    background-image: -o-linear-gradient(to top, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to top, #fa709a 0%, #fee140 100%);
}

/*Bliss*/

.bliss {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

/*TODO: Complete more classes

.purple-gradient {}

.blue-gradient {}

.aqua-gradient {}

.disco-gradient {}

.disco-gradient-inverse {}
*/

.wine-gradient {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.grace {
    /*FIXME:*/
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);
    background-blend-mode: soft-light, screen;
}

.glass {
    /*FIXME:*/
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
}

.loon {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

.cloud {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
}

.snow {
    /*FIXME:*/
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.beauty {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.wide {
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

.wiretap {
    background: #8A2387;
    background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);
    background: linear-gradient(to left, #F27121, #E94057, #8A2387);
}

.wiretap-color {
    color: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);
    background: linear-gradient(to left, #F27121, #E94057, #8A2387);
    -webkit-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.argon {
    background: #03001e;
    background: -webkit-linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to left, #fdeff9, #ec38bc, #7303c0, #03001e);
}

.salvation {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.cherrish {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}

.heaven {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

.naga {
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

.phoenix {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.love {
    background: #200122;
    background: -webkit-linear-gradient(to left, #6f0000, #200122);
    background: linear-gradient(to left, #6f0000, #200122);
}

.desert {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.lake {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.dark {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.alchemist {
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

.eternal {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.rencium {
    background: #0f0c29;
    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
    background: -o-linear-gradient(to left, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
}

.midnight {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.abovesky {
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.stoned {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.angel {
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

.ray {
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
}

.fabled {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.gagarin {
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}

.lily {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
}

.crawl {
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

/*END TODO:*/

/*azure*/

.azure-gradient {
    background: #89fffd;
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);
    background: -o-linear-gradient(to right, #89fffd, #ef32d9);
    background: linear-gradient(to right, #89fffd, #ef32d9);
}

.azure-gradient-inverse {
    background: #ef32d9;
    background: -webkit-linear-gradient(to left, #89fffd, #ef32d9);
    background: -o-linear-gradient(to left, #89fffd, #ef32d9);
    background: linear-gradient(to left, #89fffd, #ef32d9);
}

.azure-gradient-top {
    background: #89fffd;
    background: -webkit-linear-gradient(to bottom, #89fffd, #ef32d9);
    background: -o-linear-gradient(to bottom, #89fffd, #ef32d9);
    background: linear-gradient(to bottom, #89fffd, #ef32d9);
}

.azure-gradient-bot,
.azure-gradient-bottom {
    background: #ef32d9;
    background: -webkit-linear-gradient(to top, #89fffd, #ef32d9);
    background: -o-linear-gradient(to top, #89fffd, #ef32d9);
    background: linear-gradient(to top, #89fffd, #ef32d9);
}

/*moonlit*/

.moonlit-gradient {
    background: #2C5364;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: -o-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.moonlit-gradient-inverse {
    background: #0F2027;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: -o-linear-gradient(to left, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
}

.moonlit-gradient-top {
    background: #2C5364;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: -o-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

.moonlit-gradient-bot,
.moonlit-gradient-bottom {
    background: #0F2027;
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: -o-linear-gradient(to top, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
}

/*temptin*/

.temptin-gradient {
    background: #84fab0;
    background-image: -webkit-linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
    background-image: -o-linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
}

.temptin-gradient-inverse {
    background: #8fd3f4;
    background-image: -webkit-linear-gradient(to left, #84fab0 0%, #8fd3f4 100%);
    background-image: -o-linear-gradient(to left, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(to left, #84fab0 0%, #8fd3f4 100%);
}

.temptin-gradient-top {
    background: #84fab0;
    background-image: -webkit-linear-gradient(to bottom, #84fab0 0%, #8fd3f4 100%);
    background-image: -o-linear-gradient(to bottom, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(to bottom, #84fab0 0%, #8fd3f4 100%);
}

.temptin-gradient-bot,
.temptin-gradient-bottom {
    background: #8fd3f4;
    background-image: -webkit-linear-gradient(to top, #84fab0 0%, #8fd3f4 100%);
    background-image: -o-linear-gradient(to top, #84fab0 0%, #8fd3f4 100%);
    background-image: linear-gradient(to top, #84fab0 0%, #8fd3f4 100%);
}

/*jshine*/

.jshine-gradient {
    background: #12c2e9;
    background-image: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background-image: -o-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.jshine-gradient-inverse {
    background: #f64f59;
    background-image: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    background-image: -o-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    background-image: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
}

.jshine-gradient-top {
    background: #12c2e9;
    background-image: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
    background-image: -o-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
    background-image: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);
}

.jshine-gradient-bot,
.jshine-gradient-bottom {
    background: #f64f59;
    background-image: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background-image: -o-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background-image: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
}

/*evening*/

.evening-gradient {
    background: #1565C0;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: -o-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);
}

.evening-gradient-inverse {
    background: #b92b27;
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27);
    background: -o-linear-gradient(to left, #1565C0, #b92b27);
    background: linear-gradient(to left, #1565C0, #b92b27);
}

.evening-gradient-top {
    background: #b92b27;
    background: -webkit-linear-gradient(to bottom, #1565C0, #b92b27);
    background: -o-linear-gradient(to bottom, #1565C0, #b92b27);
    background: linear-gradient(to bottom, #1565C0, #b92b27);
}

.evening-gradient-bot,
.evening-gradient-bottom {
    background: #1565C0;
    background: -webkit-linear-gradient(to top, #1565C0, #b92b27);
    background: -o-linear-gradient(to top, #1565C0, #b92b27);
    background: linear-gradient(to top, #1565C0, #b92b27);
}

/*sky*/

.sky-gradient {
    background: #FFFFFF;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: -o-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

.sky-gradient-inverse {
    background: #2980B9;
    background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
    background: -o-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);
}

.sky-gradient-top {
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    background: -o-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}

.sky-gradient-bot,
.sky-gradient-bottom {
    background: #2980B9;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    background: -o-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
}

/*malinka*/

.malinka-gradient {
    background: #f093fb;
    background-image: -webkit-linear-gradient(to right, #f093fb 0%, #f5576c 100%);
    background-image: -o-linear-gradient(to right, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(to right, #f093fb 0%, #f5576c 100%);
}

.malinka-gradient-inverse {
    background: #f5576c;
    background-image: -webkit-linear-gradient(to left, #f093fb 0%, #f5576c 100%);
    background-image: -o-linear-gradient(to left, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(to left, #f093fb 0%, #f5576c 100%);
}

.malinka-gradient-top {
    background: #f093fb;
    background-image: -webkit-linear-gradient(to bottom, #f093fb 0%, #f5576c 100%);
    background-image: -o-linear-gradient(to bottom, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(to bottom, #f093fb 0%, #f5576c 100%);
}

.malinka-gradient-bot,
.malinka-gradient-bottom {
    background: #f5576c;
    background-image: -webkit-linear-gradient(to top, #f093fb 0%, #f5576c 100%);
    background-image: -o-linear-gradient(to top, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(to top, #f093fb 0%, #f5576c 100%);
}

/*morpheus*/

.morpheus-gradient {
    background: #30cfd0;
    background-image: -webkit-linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-image: -o-linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.morpheus-gradient-inverse {
    background: #330867;
    background-image: -webkit-linear-gradient(to left, #30cfd0 0%, #330867 100%);
    background-image: -o-linear-gradient(to left, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}

.morpheus-gradient-top {
    background: #30cfd0;
    background-image: -webkit-linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-image: -o-linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
}

.morpheus-gradient-bot,
.morpheus-gradient-bottom {
    background: #330867;
    background-image: -webkit-linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-image: -o-linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/*///////////////////
[ COMPLEX GRADIENTS ] /*/

/*young*/

.young-gradient {
    background: #ff8c7f;
    background-image: -webkit-linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: -o-linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.young-gradient-inverse {
    background: #b12a5b;
    background-image: -webkit-linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: -o-linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.young-gradient-top {
    background: #ff8c7f;
    background-image: -webkit-linear-gradient(to bottom, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: -o-linear-gradient(to bottom, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: linear-gradient(to bottom, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.young-gradient-bot,
.young-gradient-bottom {
    background: #b12a5b;
    background-image: -webkit-linear-gradient(to top, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: -o-linear-gradient(to top, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: linear-gradient(to top, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

/*///////////////////
[ Special Gradients ] /*/

/* instagram */

.insta-gradient,
.instagram-gradient {
    background: #d6249f;
    background-image: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-image: -o-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* twitch */

.twitch {
    background: #6441A5;
    background: -webkit-linear-gradient(to left, #2a0845, #6441A5);
    background: linear-gradient(to left, #2a0845, #6441A5);
}

/* youtube */

.youtube {
    background: #e52d27;
    background: -webkit-linear-gradient(to left, #b31217, #e52d27);
    background: linear-gradient(to left, #b31217, #e52d27);
}

/* whatsapp */

.whatsapp {
    background: #128C7E;
    background: -webkit-linear-gradient(to left, #128C7E, #075E54);
    background: linear-gradient(to left, #128C7E, #075E54);
}

/* reverb */

.reverb-gradient {
    background: #de6161;
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: -o-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161);
}

.reverb-gradient-inverse {
    background: #2657eb;
    background: -webkit-linear-gradient(to left, #2657eb, #de6161);
    background: -o-linear-gradient(to left, #2657eb, #de6161);
    background: linear-gradient(to left, #2657eb, #de6161);
}

/* eighteens */

.eighteens {
    background: #41295a;
    background: -webkit-linear-gradient(to left, #2F0743, #41295a);
    background: linear-gradient(to left, #2F0743, #41295a);
}

/* clearsky */

.clearsky {
    background: #005C97;
    background: -webkit-linear-gradient(to left, #363795, #005C97);
    background: linear-gradient(to left, #363795, #005C97);
}

/* purple bliss */

.purplebliss {
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
}

/*cause i'm a man*/

.causeimaman {
    background: #780206;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #061161, #780206);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #061161, #780206);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}